{% extends 'layouts/base.html.twig' %}

{% block body %}
        <h1>Page non trouver</h1>
        <p>
            La page demandée n'a pas pus être trouvé. Verifiez l'URL ou <a href="{{ path('app_home') }}">retournez à la page d'accueil</a>.
        </p>